:root {
    --dark-grey: #333;
    --light-grey: #f4f4f4;
    --white: #ffffff;
    --primary: #0b38aa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--dark-grey);
    background-color: var(--white);
}

header {
    background-color: var(--dark-grey);
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}


a {
    color: var(--primary);
    text-decoration: none;
}

nav ul li {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 1% auto 0;
    padding: 2rem;
}

section {
    margin-bottom: 3rem;
}

h1, h2, h3 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    border-bottom: 2px solid var(--dark-grey);
    padding-bottom: 0.5rem;
    position: relative;
}

ul {
    list-style-type: none;
}

.experience-item {
    margin-bottom: 1.5rem;
}

.experience-item h3 {
    margin-bottom: 0.5rem;
}

.experience-item p {
    font-style: italic;
    margin-bottom: 0.5rem;
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#skills li {
    background-color: var(--light-grey);
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

.project-card, .article-card {
    background-color: var(--light-grey);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.project-card h3, .article-card h3 {
    margin-bottom: 0.5rem;
}

footer {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

@media (max-width: 600px) {
    header {
        padding: 0.5rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    main {
        padding: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}